.dialog-pane > .content.label {
    -fx-font-size:14px;
    -fx-font-family: "Pixeloid Sans";
}

.dialog-pane:header .header-panel .label{
    -fx-text-fill:black;
    -fx-font-size:20px;
    -fx-font-family: "Pixeloid Sans Bold";
}

.dialog-pane .button{
    -fx-font-family: "Pixeloid Sans";
}
