.dialog-pane > .content.label {
    -fx-font-size:15.0px;
    -fx-font-family: "Pixeloid Sans";
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
    -fx-font-family: "Pixeloid Sans";
}

.dialog-pane:header .header-panel .label{
    -fx-text-fill:black;
    -fx-font-size:20px;
    -fx-font-family: "Pixeloid Sans";
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-font-family: "Pixeloid Sans";
}

.dialog-pane .button:hover{
    -fx-font-family: "Pixeloid Sans";
}